* {
  margin: 0;
  padding: 0;
  border-radius: border-box;
}
.app {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("assets/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: #000 1px 1px;
}
